.make-post {
    width: 80%;
    height: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.input-make-post {
    width: 60%;
    border: 3px black solid;
    background-color: var(--background-op);
    border-radius: 10px;
    color: floralwhite;
    padding: 5px;
}
#title {
    height: 20px;
}
#story {
    text-align: justify;
    max-width: 60%;
    height:  200px;
    max-height: 200px;
    word-wrap: break-word;
    text-align: start;
    scroll-behavior: smooth;
}